@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Address">Addr:</abbr>
    Yayla Neighborhood<br />
    Yozgat Avenue<br />
    1480/2 Street<br />
    Keçiören/ANKARA<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:bkaplan2010@hotmail.com">bkaplan2010@hotmail.com</a><br />
    <strong>At Social Media:</strong> <a href="https://twitter.com/MBETLKAPLAN?s=08">Twitter</a>
</address>
